#NewsSection {
	padding: 200px 0;

	.titleSection {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
		.subTitle {
			font-size: 1.3rem;
			text-transform: uppercase;
		}
		.mainTitle {
			font-size: 5rem;
			font-family: $displayFont;
			text-transform: uppercase;
			font-weight: 300;
			padding: 25px 0;
		}
	}
	.newsGrid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: 300px;
		width: 100%;
		column-gap: 10px;
		.newsPic {
			background-repeat: no-repeat;
			background: cover;
			background-position: center bottom;
			box-shadow: 0px 17px 9px -8px rgba(0, 0, 0, 0.52);
		}
		.box {
			height: 300px;
			display: flex;
			justify-content: center;
			text-align: center;
			.box-info {
				width: 400px;
				display: flex;
				align-items: center;
				p {
					font-family: $displayFont;
					line-height: 1.5;
					font-weight: 400;
					font-size: 1.6rem;
				}
			}
		}
	}
}
