#NewsSection {
	padding: 200px 0;

	.titleSection {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
		.subTitle {
			font-size: 1.3rem;
			text-transform: uppercase;
		}
		.mainTitle {
			font-size: 5rem;
			font-family: $displayFont;
			text-transform: uppercase;
			font-weight: 300;
			padding: 25px 0;
		}
	}
	.newsListSection {
		.newsGrid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			height: 300px;
			width: 100%;
			column-gap: 10px;
			.newsPic {
				background-repeat: no-repeat;
				background: cover;
				background-position: center bottom;
				box-shadow: 0px 17px 9px -8px rgba(0, 0, 0, 0.52);
			}
			.newsList {
				.box {
					display: flex;
					justify-content: center;
					text-align: center;
					.box-info {
						display: flex;
						flex-direction: column;
						text-align: center;
						.newsTitle {
							margin-bottom: 15px;
							font-size: 1.5rem;
							font-weight: 600;
							text-transform: uppercase;
							text-align: left;
							font-family: $displayFont;
						}
						.newsHighlight {
							text-align: center;
							padding-bottom: 15px;
							font-size: 1.2rem;
							width: 250px;
							text-align: left;
							font-family: $displayFont;
						}
						.newsInfo {
							width: 400px;
							font-family: $textFont;
							line-height: 1.5;
							text-align: left;
							width: 300px;
							font-weight: 400;
							font-size: 1rem;
						}
						.authorSection {
							display: flex;
							padding: 20px 0;
							.author {
								font-weight: 600;
								font-size: .9rem;
							}
							.authorInfo {
								font-size: .9rem;
								padding: 0 10px;
							}
						}
						.arrowSection {
							display: flex;
							justify-content: flex-end;
							padding: 20px 0;
							.fa-chevron-left,
							.fa-chevron-right {
								padding: 0 20px;
								font-size: 1.5rem;
								color: $greyFont;
								&:hover {
									cursor: pointer;
								}
							}
							.fa-chevron-right.active,
							.fa-chevron-left.active {
								color: $black;
							}
							// .fa-chevron-left.active,
							// .fa-chevron-right.active {
							// 	color: $greyFont;
							// 	&:hover {
							// 		cursor: pointer;
							// 		color: $redFont;
							// 		transition: all .3s ease-in-out;
							// 	}
							// }
						}
					}
				}
			}
		}
	}
}
