#ReviewSection {
	padding: 150px 0;

	.titleSection {
		display: flex;
		flex-direction: column;
		align-items: center;
		.subTitle {
			font-size: 1.3rem;
			text-transform: uppercase;
		}
		.mainTitle {
			font-size: 5rem;
			font-family: $displayFont;
			text-transform: uppercase;
			font-weight: 300;
			padding: 25px 0;
		}
	}

	// .img-section {
	// 	padding: 20px 0;
	// 	.bar-img {
	// 		background-image: url("https://fesmag.com/images/stories/2018-06/Tony-Cs-2.jpg");
	// 		background-position: center;
	// 		background-size: cover;
	// 		max-width: 400px;
	// 		height: 600px;
	// 		margin: 0 auto;
	// 	}
	// }
}
