@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600&display=swap');
@import "reset";
@import "global";
@import "Header";
@import "TopImg";
@import "EventInfo";
@import "SpecialSection";
@import "RandomQuote";
@import "ContactInfo";
@import "ReviewSection";

* {
	box-sizing: border-box;
	a:focus,
	button:focus,
	input:focus,
	textarea:focus {
		outline: none;
	}
	a {
		text-decoration: none;
	}
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
body {
	line-height: 1;
	background: $whiteBg;
	font-family: $textFont;
}
